
#Pedidos{
    position: absolute;
    bottom: 70%;
    left: 34%;
    text-align: center;
    vertical-align: middle;
    font-weight: 900;
}


.btn-group button {
    background-color: #4CAF50; /* Green background */
    border: 1px solid green; /* Green border */
    color: white; /* White text */
    padding: 10px 34px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    float: left; /* Float the buttons side by side */
    border-radius: 12px;
}

.btn-group button:not(:last-child) {
    border-right: none; /* Prevent double borders */
}

/* Clear floats (clearfix hack) */
.btn-group:after {
    content: "";
    clear: both;
    display: table;
}

/* Add a background color on hover */
.btn-group button:hover {
    background-color: #3e8e41;
}

.menu-centro{
    position: absolute;
    right: 40%;
    top: 25%;
    text-align: center;
}

.menu-esquerda{
    position: absolute;
    border-color: darkgreen;
    left: 2%;
    top: 40%;
}

.menu-esquerda button{
    margin-bottom: 3px;
}

.menu-esquerda2{
    position: absolute;
    border-color: darkgreen;
    left: 5%;
    top: 15%;
}

td,th
{
    padding:5px 25px 5px 35px;
    background-color: white;
    color: #2c343b;

}

tr th{
    padding:0 15px 0 15px;
    text-align: center;
    vertical-align: middle;
    font-weight: bolder;
}


table {
    border: solid #5e5e5e !important;
    border-width: 1px 0 0 1px !important;
    margin-bottom: 20px;
    table-layout: fixed;
}

th, td {
    border: solid black !important;
    border-width: 3px 3px 3px 3px !important;
    border-radius: 8px; !important;
}


th {
    background-color: #4CAF50;
    color: lightgreen;
    height: 20px; !important;

}

td{
    height: 20px;!important;
}

table.mytable tr:hover td {
    background-color: lightcyan;
}