.menu-esquerda{
    position: absolute;
    border-color: darkgreen;
    left: 63%;
    top: 15%;
}

/*.menu-centro{
    position: absolute;
    float: inside;
    right: 11%;
    top: 25%;
    text-align: center;
}*/

table.mytable {
    margin-left:auto;
    margin-right:auto;
}

body {text-align:center;}

.text-center {
    text-align: center;
}

.middle-btn{
    width: 33.2%;
}

td,th
{
    padding:7px 35px 7px 35px;
    background-color: lightskyblue;
    color: #2c343b;

}

tr th{
    padding:0 15px 0 15px;
}

table {
    border: solid #5e5e5e !important;
    border-width: 1px 0 0 1px !important;
    margin-bottom: 30px;
}

th, td {
    border: solid black !important;
    border-width: 3px 3px 3px 3px !important;
    border-radius: 8px; !important;
}


th {
    background-color: #4CAF50;
    color: white;
    height: 60px; !important;

}

td{
    height: 45px;!important;
}

table.mytable tr:hover td {
    background-color: lightcyan;
}


.btn-group button {
    background-color: #4CAF50; /* Green background */
    border: 1px solid green; /* Green border */
    color: white; /* White text */
    padding: 10px 34px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    float: left; /* Float the buttons side by side */
    border-radius: 12px;
}

.btn-group button:not(:last-child) {
    border-right: none; /* Prevent double borders */
}

/* Clear floats (clearfix hack) */
.btn-group:after {
    content: "";
    clear: both;
    display: table;
}

/* Add a background color on hover */
.btn-group button:hover {
    background-color: #3e8e41;
}

.bbt{
    border-radius: 8px;
    background-color: lightgray;
}
